@font-face {
    font-family: 'Droid Sans Mono';
    src: url('DroidSansMono.woff') format('woff');
}

/* Basic layout */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Droid Sans Mono', sans-serif;
    background-color: #111;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: .5em;
    background-color: #222;
    border: solid #444;
    border-width: 1px 0 0 1px;
}

footer a {
    position: relative;
    color: #fff;
    transition: color .2s;
}

footer a:hover {
    color: #ddd;
}
