argcomplete==1.12.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
contextlib2==0.6.0.post1
cryptography==3.2.1
defusedxml==0.6.0
idna==2.10
importlib-metadata==2.0.0
Jinja2==2.11.2
jira==2.0.0
MarkupSafe==1.1.1
oauthlib==3.1.0
pathspec==0.8.1
pbr==5.5.1
pycparser==2.20
PyJWT==1.7.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
schema==0.7.2
semver==2.13.0
six==1.15.0
urllib3==1.25.11
xmltodict==0.12.0
yamllint==1.25.0
yq==2.11.1
zipp==3.4.0
