<!doctype html>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ manifest.name }} in {{ region.name }}</title>

<link rel="stylesheet" href="normalize.css">

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/a11y-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style>
pre {
  white-space: pre-wrap;
  word-break: keep-all
}

body{
  margin: 0;
  color: #fff;
}
a:link {
  color: #ffd700;
}
a:visited {
  color: #ffd700;
}
.wrapper{
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
}
.header, .footer{
  height: 50px;
  background: #2b2b2b;
}
.header {
  border-bottom: 1px dashed #c00
}
.content {
  flex: 1;
  background: #999;
  display: flex;
  color: #000;
}
.columns{
  display: flex;
  flex: 1;
}
.main{
  flex: 1;
  background: #2b2b2b;
}
.sidebar{
  width: 20%;
  padding-left: 10px ;
  color: #d4d0ab;
  background: #2b2b2b
}

li {
  font-size: 150%;
}
</style>

<div class="wrapper">
  <header class="header"><h3>{{ manifest.name }} in {{ region.name }} at {{ time }} running <a href="{{ version_link }}">{{ version }}</a></h3>
  </header>
  <section class="content">
    <div class="columns">
      <main class="main">
        <pre><code class="yaml">{{ pretty_manifest }}</code></pre>
      </main>
      <aside class="sidebar">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="{{ grafana_link }}">Grafana</a></li>
          <li><a href="{{ logzio_link }}">Logz.io</a></li>
          <li><a href="{{ sentry_link }}">Sentry</a></li>
          <li><a href="{{ vault_link }}">Vault</a></li>
          <li><a href="{{ circle_link }}">CircleCI</a></li>
          <li><a href="{{ quay_link }}">Quay.io</a></li>
        </ul>
        <h3>Support: <a href="{{ support_link }}">{{ support }}</a></h3>
        <h3>Team: <a href="{{ team_link }}">{{ team }}</a></h3>

      </aside>
     </div>
  </section>
  <footer class="footer">
     <a href="https://github.com/Babylonpartners/shipcat">code</a>
  </footer>
</div>
