<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ manifest.name }} in {{ region.name }}</title>

  <link rel="stylesheet" href="/raftcat/static/normalize.css">
  <link rel="stylesheet" href="/raftcat/static/raftcat.css">

  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/a11y-dark.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src='/raftcat/static/raftcat.js'></script>
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <h3 class="service-title"><pre>{{ manifest.name }}</pre> in <pre>{{ region.name }}</pre></h3>
      <h4>Deployed version: <a href="{{ version_link }}">{{ version }}</a></h4>
      <a class="support-link" title="Get help!" href="{{ support_link }}"><img src='/raftcat/static/images/slack.svg' /></a>
    </div>
  </header>

  <main class="main">
    <div class="wrapper">
      <section class="content">
        <div class="columns">
            <section class="tabs">
              <ul class="tabs__tabList">
                <li class="tabList__tabItem">
                  <button class="tabItem__button" data-tab="quickLinks">Integrations</button>
                </li>
                <li class="tabList__tabItem">
                  <button class="tabItem__button" data-tab="environment">Environment</button>
                </li>
                {% if revdeps or mfdeps %}
                  <li class="tabList__tabItem">
                    <button class="tabItem__button" data-tab="usedBy">Dependencies</button>
                  </li>
                {% endif %}
                <li class="tabList__tabItem">
                  <button class="tabItem__button" data-tab="manifest">Manifest</button>
                </li>
                <li class="tabList__tabItem">
                  <button class="tabItem__button" data-tab="math">Math</button>
                </li>
              </ul>
              <div class="tabs__content">
                <div id="manifest">
                  <pre><code class="yaml">{{ pretty_manifest }}</code></pre>
                </div>

                <div id="quickLinks">
                  <ul class="quick">
                    {% if newrelic_link %}
                    <li><a target="_blank"  href="{{ newrelic_link }}">
                      <figure class='logo-link'>
                        <img src='/raftcat/static/images/newrelic.png' />
                        <figcaption>NewRelic</figcaption>
                      </figure>
                    </a></li>
                    {% endif %}
                    {% if grafana_link %}
                    <li><a target="_blank"  href="{{ grafana_link }}">
                      <figure class='logo-link'>
                        <img src='/raftcat/static/images/grafana.png' />
                        <figcaption>Grafana</figcaption>
                      </figure>
                    </a></li>
                    {% endif %}
                    {% if logzio_link %}
                    <li><a target="_blank"  href="{{ logzio_link }}">
                      <figure class='logo-link'>
                        <img src='/raftcat/static/images/logz.io.png' />
                        <figcaption>Logz.io</figcaption>
                      </figure>
                    </a></li>
                    {% endif %}
                    {% if sentry_link %}
                    <li><a target="_blank"  href="{{ sentry_link }}">
                      <figure class='logo-link'>
                        <img src='/raftcat/static/images/sentry.png' />
                        <figcaption>Sentry</figcaption>
                      </figure>
                    </a></li>
                    {% endif %}
                    <li><a target="_blank"  href="{{ vault_link }}">
                      <figure class='logo-link'>
                        <img src='/raftcat/static/images/vault.png' />
                        <figcaption>Vault</figcaption>
                      </figure>
                    </a></li>
                    <li><a target="_blank"  href="{{ circle_link }}">
                      <figure class='logo-link'>
                          <img src='/raftcat/static/images/circleci.png' />
                          <figcaption>CircleCI</figcaption>
                        </figure>
                    </a></li>
                    <li>
                      <a target="_blank" href="{{ quay_link }}">
                        <figure class='logo-link'>
                          <img src='/raftcat/static/images/quay.png' />
                          <figcaption>Quay.io</figcaption>
                        </figure>
                      </a>
                    </li>
                  </ul>
                </div>

                <div id="environment">
                  <div style="overflow-x: scroll;">
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for key, value in mfenv.plain %}
                        <tr>
                          <td>{{key}}</td>
                          <td>
                            {% if value == "IN_VAULT" %}
                              <a href="{{ vault_link }}{{key}}">{{value}}</a>
                            {% elif mfenvstub.plain[key] %}
                            {# stubbed values more accurate - but not always there #}
                              {{ mfenvstub.plain[key] }}
                            {% else %}
                              {{ value }}
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>

                {% if revdeps or mfdeps %}
                  <div id="usedBy">
                  <h3>Services used by this service:</h3>
                    <ul>
                      {% for d in mfdeps %}
                      <li><a href="/raftcat/services/{{ d.name }}">{{ d.name }}</a></li>
                      {% endfor %}
                    </ul>

                  <h3>Services which use this service:</h3>
                    <ul>
                      {% for d in revdeps %}
                      <li><a href="/raftcat/services/{{ d }}">{{ d }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <div id="math">
                {% if usage %}
                <h3>Resource usage:</h3>
                <pre><code class="json">{{ usage }}</code></pre>
                <p>Base usage is sum of all requests and limits.</p>
                <p>Extra is how far the base can be exceeded with autoscaling parameters</p>
                <p>All values are in gigabytes (memory) and vCPUs (cpu)</p>

                <h3>Daily cost estimate:</h3>
                {% if cost.0 == cost.1 %}
                <p><i>{{ cost.1 }}$</i></p>
                {% else %}
                <p><i>{{ cost.0 }} - {{ cost.1 }} $</i></p>
                {% endif %}
                <p>(Based on number of required worker nodes (<a href="https://aws.amazon.com/ec2/pricing/on-demand/">m5.2xlarge</a>) only - databases not accounted for)</p>
                {% endif %}

                <h3>Rollout cycles per upgrade:</h3>
                <p><i>{{ rollouts }}</i></p>
                {% if rollingUpdate %}
                <p>Based on <code class="yaml">`rollingUpdate`</code> parameters:</p>
                <pre><code class="yaml">{{ rollingUpdate }}</code></pre>
                {% else %}
                <p>Based on default <code class="yaml">`rollingUpdate`</code> parameters</p>
                {% endif %}
                <p>and minimum number of replicas.</p>
              </div>
            </section>
          </div>
      </section>
    </div>
  </main>

  <footer class="footer-custom">
    <div class="wrapper">
      <a target="_blank" href="https://github.com/Babylonpartners/shipcat/tree/master/raftcat">raftcat {{ raftcat }}</a>
    </div>
  </footer>
</body>
</html>
